   /*import fonts*/
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* css for darkmode switch */
body {
    font-family: 'JetBrains Mono';
    font-size: 1.1vw;
    color: black;
    background: white;
    transition: background .5s, .5s;
    min-height: 100vh;
}

body.dark {
   color: white;
   background: #032326; 
   transition: background .5s, color .5s;
}

/* css for dark mode button/text */
.switch {
  width: 2.344vw;
  height: 2.361vh;

}

.switch input {
  position: absolute;
  opacity: 0;
  width: 2.344vw;
  height: 2.361vh;
}

.slider {
  position: absolute;
  width: 2.344vw;
  height: 2.361vh;
  cursor: pointer;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  top: 0.208vh;
  left: 0.156vw;
  height: 1.016vw;
  width: 1.016vw;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;

}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.016vw);
  -ms-transform: translateX(1.016vw);
  transform: translateX(1.016vw);
}


.slider.round {
  border-radius: 2.361vw;
}

.slider.round:before {
  border-radius: 50%;
}

/* text css */
#textcontainer1 {
  display: flex;
  width: 100vw;
  height: 100vh;
  border: 0px;
  justify-content: center;
  align-items: center;
}

#paragraph1 {
  width: 80%;
}

/*topbar css*/
#topbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  box-sizing: border-box;
  background-color: rgb(209, 192, 192); 
  transition: background-color .5s;
  transition: color .5s;
}

body.dark #topbar {
  background-color: #062c2f;
}

#iceland {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}


#darkmodebutton {
  display: flex;
  align-items: center;
  gap: 0px;
}

#darkmodebutton p {
  margin: 30px;
}