   /*import fonts*/
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* css for darkmode switch */
body {
    font-family: 'JetBrains Mono';
    font-size: 1.1vw;
    color: black;
    background: white;
    transition: background .5s, .5s;
    min-height: 100vh;
}

body.dark {
   color: white;
   background: #032326; 
   transition: background .5s, color .5s;
}

/* css for dark mode button/text */
switch {
  position: absolute;
  display: inline-block;
  top: -6vh;
  left: 4%;
  width: 60px;
  height: 34px;

}

.switch input {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  width: 60px;
  height: 34px;
}

.slider {
  position: absolute;
  width: 60px;
  height: 34px;
  cursor: pointer;
  top: 5.2vh;
  left: 40vw;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;

}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.darkmodetext {
  margin: 0;
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  top: 6vh;
  left: 29vw;
}

.rounded {
  border: 3px solid;
  border-radius: 5px;
  position: absolute;
  top: -50;
}

/* text css */
#textcontainer1 {
  display: flex;
  width: 100vw;
  height: 100vh;
  border: 0px;
  justify-content: center;
  align-items: center;
}

paragraph1 {
  width: 80%;
}

/*header css*/
#iceland {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: flext-start;
}